
#img-flag {
	height: 3vh;
}

/* FIXED NAV BAR */

.logobar {
	margin-top: 20px;
	text-align: center;
	font-size: 2.5em;
}
.logobar > a {
	text-decoration: none;
	color: black;
}

/* Logo img */
#logo-img {
	width: 10%;
}

.secciones {
	font-size: 1.1em;
}

.navbar {
	background-color: #DEE0DA;
	border: none;
	padding-left: 25%;
	margin-top: 1em;
}

.secciones > .navbar-nav > li > a {
	margin-left: 1em;
	margin-right: 1em;
	/*background-color: #DEE0DA;*/
}

.secciones > .navbar-nav > li > a:hover {
	background-color: #B5B5B5;
}
/*
.navbar-inverse{
	background-color: #FFFFFF;

}*/

/* Seccions */



.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #EEF0EB;
	background-color: #A6A9A1;
	border-radius: 10px;
}

.navbar-inverse .navbar-nav>li>a:focus {
    background-color: #353434;
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #858880;
    color: #EEF0EB;
    border-radius: 10px;
}

/* Logo */
nav > div.container > div.navbar-header > a.navbar-brand {
	color: #000000;
}

/* END FIXED NAV BAR */

.footer-text {
	text-align: center;
	font-size: 0.8em;
	background-color: #DEE0DA;
	padding-top: 12px;
	padding-bottom: 4px; 
	width: 35%;
	margin-left: 25%;
	border-radius: 10px;
}

